.detail-patient {
  display: block !important;
}

.print-content {
  background: #E3E3E3;
  height: 100%;
  margin: 0 auto;
  width: 960px;

  border-radius: 5px 5px 0px 0px;
  color: #202020;
}

.print-content h3 {
  text-align: center;
}

.print-content .value {
  min-width: 50px;
}

.print-content .el-row {
  margin-bottom: 10px;
}

.print-content .el-row:first-child {
  margin: unset;
}

.print-content .el-row .el-col {
  display: flex;
  margin-right: 20px;
}

.print-content .el-row .el-col span {
  display: inline-block;
  padding: 2px;
}

.print-content .el-row .el-col span:last-child {
  margin-left: 5px;
  border-bottom: 1px solid #fff;
  text-align: left;
  text-indent: 5px;
  flex: 1;
}
