@import "./_handle.scss";
/*滚动条整体部分*/
#app /deep/ .mytable-scrollbar div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/*滚动条的轨道*/
#app /deep/ .mytable-scrollbar div::-webkit-scrollbar-track{
   @include background('search_header_bgc');
  // background-color: #fff;
}
/*滚动条里面的小方块，能向上向下移动*/
#app /deep/ .mytable-scrollbar div::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 5px;
  border: 1px solid #F1F1F1;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
#app /deep/ .mytable-scrollbar div::-webkit-scrollbar-thumb:hover {
  background-color: #A8A8A8;
}
#app /deep/ .mytable-scrollbar div::-webkit-scrollbar-thumb:active {
  background-color: #787878;
}
/*边角，即两个滚动条的交汇处*/
#app /deep/ .mytable-scrollbar div::-webkit-scrollbar-corner {
  background-color: #FFFFFF;
}
#app /deep/ .vxe-button.type--button.theme--my-purple:active {
  background-color: #3377FF;
  color: #fff;
}

#app /deep/ .vxe-input--inner[disabled] {
  background-color: unset;
  cursor: unset;
  color: unset;
}