/*定义变量*/
//侧边栏
$nav-bgc : linear-gradient(180deg, #666666, #4A4A4A);
$nav-font: #E2E9F2;




$font_size_base: 14px;

/*定义mixin*/
@mixin inline-div($width) {
    display: inline-block;
    width: $width;
}

@mixin relative-top-left($top,$left) {
    position: relative;
    top: $top;
    left: $left;
}